@use '../../../../assets/modules/color' as *;

.edit_icon {
  cursor: pointer;

  &:hover {
    color: $primary;
  }
}

.mat {
  &-cancel {
    background-color: $secondary;
    color: $light;
  }

  &-save {
    background-color: $primary;
  }
}
