@use '../../../../assets/modules/color' as *;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.dashboardTitle {
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;

  @media screen and (max-width: 768px) {
    font-size: 3rem;
  }
}

.mat {

  &-stat-button {
    background-color: $primary;
  }

}
