<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 d-flex justify-content-center my-3">
      <h2 class="dashboardTitle">{{ titles[0].title }}</h2>
    </div>
    <div class="col-12 col-lg-8 offset-lg-2 d-md-flex flex-sm-row">
      <div class="col-12 col-md-6">
        <app-customer-card></app-customer-card>
      </div>
      <div class="col-12 col-md-6">
        <app-bill-card></app-bill-card>
      </div>
    </div>
    <div class="col-lg-8 offset-lg-2 d-flex justify-content-center my-3">
      <h4>{{ titles[1].title }}</h4>
    </div>
    <div class="col-12 col-lg-8 offset-lg-2 d-md-flex flex-sm-row">
      <div class="col-12 col-md-6">
        <app-order-menu-card></app-order-menu-card>
      </div>
      <div class="col-12 col-md-6">
        <app-order-fastfood-card></app-order-fastfood-card>
      </div>
    </div>
    <div class="col-lg-8 offset-lg-2 d-flex justify-content-center my-3">
      <h4 class="dashboardTitle">{{ titles[2].title }}</h4>
    </div>
    <app-menu-cards></app-menu-cards>
  </div>
</div>
