<div class="container py-5 min-vh-100">
  <div *ngIf="fastfood" class="card mt-2">
    <div class="card-header">
      <h4 class="card-title" *ngIf="fastfood.id !== 0">{{ editPageItems[3].title }}</h4>
      <h4 class="card-title" *ngIf="fastfood.id === 0">{{ editPageItems[3].new }}</h4>
      <p class="card-category">{{ editPageText[0].name }}</p>
    </div>
    <div class="card-body">
      <form #fastfoodForm="ngForm" (ngSubmit)="saveFastfood(fastfood)">

        <input [(ngModel)]="fastfood.id" type="hidden" name="id">

        <div class="row mb-2 justify-content-center">
          <div class="col-lg-5 col-md-12 mb-2">
            <div class="form-group">
              <label [for]="fastfoodEditItems[0].prop">{{ fastfoodEditItems[0].label }} *</label>
              <input [(ngModel)]="fastfood[fastfoodEditItems[0].prop]" class="form-control" type="string"
                [name]="fastfoodEditItems[0].prop" [id]="fastfoodEditItems[0].prop" required
                [pattern]="fastfoodEditItems[0].pattern" [placeholder]="fastfoodEditItems[0].placeholder">
              <div class="font-italic small ml-2 mt-1"
                [hidden]="fastfoodForm.controls[fastfoodEditItems[0].prop]?.valid || fastfoodForm.controls[fastfoodEditItems[0].prop]?.pristine">
                {{ fastfoodEditItems[0].message }}
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-12">
            <div class="form-group mt-4 pt-1">
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" [(ngModel)]="fastfood[fastfoodEditItems[5].prop]"
                  [name]="fastfoodEditItems[5].prop" type="checkbox" [id]="fastfoodEditItems[5].prop">
                <label class="custom-control-label" [for]="fastfoodEditItems[5].prop">
                  {{ fastfoodEditItems[5].label }}
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2 justify-content-center" *ngIf="fastfood[fastfoodEditItems[4].prop]">
          <div class="col-lg-10 col-md-12 mb-2">
            <div class="form-group">
              <label [for]="fastfoodEditItems[4].prop">{{ fastfoodEditItems[4].label }} *</label>
              <textarea [(ngModel)]="fastfood[fastfoodEditItems[4].prop]" class="form-control" type="string"
                [name]="fastfoodEditItems[4].prop" [id]="fastfoodEditItems[4].prop" required
                [pattern]="fastfoodEditItems[4].pattern" [placeholder]="fastfoodEditItems[4].placeholder">
              </textarea>
              <div class="font-italic small ml-2 mt-1"
                [hidden]="fastfoodForm.controls[fastfoodEditItems[4].prop]?.valid || fastfoodForm.controls[fastfoodEditItems[4].prop]?.pristine">
                {{ fastfoodEditItems[4].message }}
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2 justify-content-center">
          <div class="col-lg-5 col-md-12 mb-2">
            <div class="form-group">
              <label [for]="fastfoodEditItems[2].prop">{{ fastfoodEditItems[2].label }} *</label>
              <select [(ngModel)]="fastfood[fastfoodEditItems[2].prop]" class="form-control"
                [name]="fastfoodEditItems[2].prop" [id]="fastfoodEditItems[2].prop"
                (ngModelChange)="fastfood[fastfoodEditItems[2].prop] = $event" (ngModelChange)="dataChanged($event)">
                <option *ngFor="let key of categoryKeys; index as i" [value]="key">
                  {{ categoryValue[i] }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-lg-5 col-md-12">
            <div class="form-group" *ngIf="!selected">
              <label [for]="fastfoodEditItems[1].prop">{{ fastfoodEditItems[1].label }}</label>
              <input [(ngModel)]="selected" class="form-control" type="string" [name]="fastfoodEditItems[1].prop"
                [id]="fastfoodEditItems[1].prop" required [disabled]="true">
            </div>
            <div class="form-group" *ngIf="selected">
              <label [for]="fastfoodEditItems[1].prop">{{ fastfoodEditItems[1].label }}</label>
              <input [(ngModel)]="selected" class="form-control" type="string" [name]="fastfoodEditItems[1].prop"
                [id]="fastfoodEditItems[1].prop" required [disabled]="true">
            </div>
          </div>
        </div>

        <div class="row mb-2 justify-content-center">
          <div class="col-lg-10 col-md-12 mb-5 d-flex">
            <div class="col-lg-4 col-md-12 mb-2" *ngIf="fastfood.id !== 0">
              <h6>{{ editPageText[4].name }}
                <span class="font-weight-bold" *ngIf="fastfood.category === 'PIZ'">({{ editPageText[5].name }})</span>:
                {{ fastfood.numberOfOrder }} {{ editPageText[7].name }}
              </h6>
              <h6 *ngIf="fastfood.category === 'PIZ'">{{ editPageText[4].name }} <span class="font-weight-bold">
                  ({{ editPageText[6].name }})</span>: {{fastfood.numberOfOrderFamily }} {{ editPageText[7].name }}</h6>
            </div>
            <div class="d-flex flex-column">
              <p>{{ fastfoodEditItems[3].label }}</p>
              <div class="d-flex flex-row">
                <div class="custom-control custom-checkbox mr-3" *ngFor="let allergen of allergensValue; index as i">
                  <input class="custom-control-input" [(ngModel)]="fastfood[fastfoodEditItems[3].prop][0][allergen]"
                    [name]="allergen" type="checkbox" [id]="allergen">
                  <label class="custom-control-label" [for]="allergen">
                    {{ allergensName[i] }}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row col-10 offset-1">
          <button [disabled]="fastfoodForm.invalid" mat-raised-button color="save" class="mr-2" type="submit">{{
            editPageText[1].name }}</button>
          <button mat-raised-button color="cancel" routerLink="/product" class="mr-2" type="button">
            {{ editPageText[3].name }}
          </button>
          <button *ngIf="fastfood.id !== 0" mat-raised-button color="delete" (click)="onDelete(fastfood.id)"
            type="button">
            {{ editPageText[2].name }}
          </button>
        </div>
      </form>
    </div>
  </div>
