@use '../../../../assets/modules/color' as *;

.mat {
  &-cancel {
    background-color: $secondary;
    color: $light;

    &:hover {
      background-color: $dark;
    }
  }

  &-save {
    background-color: $primary;
    color: $light;

    &:hover {
      background-color: $d-menu-color;
      color: $dark;
    }
  }

  &-delete{
    background-color: $d-menu-color;
    color: $dark;

    &:hover {
      background-color: $info;
      color: $light;
    }
  }
}

.card-header {
  background-color: $d-menu-color;
}

.numberOfDesktop {
  display: block;

  @media screen and (max-width: 576px) {
    display: none;
  }
}

.numberOfMobil {
  display: none;

  @media screen and (max-width: 576px) {
    display: block;
  }
}
