@use '../../../../assets/modules/color' as *;

.mat {
  &-cancel {
    background-color: $secondary;
    color: $light;

    &:hover {
      background-color: $dark;
    }
  }

  &-add {
    background-color: $primary;
    color: $light;

    &:hover {
      background-color: $d-menu-color;
    }
  }

  &-save {
    background-color: $primary;
    color: $light;

    &:hover {
      background-color: $d-menu-color;
      color: $dark;
    }
  }

  &-delete{
    background-color: $d-menu-color;
    color: $dark;

    &:hover {
      background-color: $info;
      color: $light;
    }
  }
}

.card-header {
  background-color: $d-menu-color;
}

.deleteButton {
  padding-top: 5px;
}
