@use '../../../assets/modules/color' as *;

.nav {

  &-item &-link {
       color: $light;
       font-size: 0.8rem;
       letter-spacing: 0.2rem;
       margin: 0 1rem;
       text-transform: uppercase;

       &:hover {
        color: $secondary;
      }
   }

   &-text {
    margin: 0 0 0 0.4rem;
   }

   &-link-text {
    color: $light;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    margin: 0 1rem;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
     color: $secondary;
   }
}

}

.dropdown-item{
    padding: 0.5rem;
    font-size: 1rem;
    font-family: arial;
    color: $dark;
    font-weight: lighter;
    background-color: $secondary;
    transform-origin: center;

    &:hover {
      color: $light;
    }
}

.navbar-brand{
    text-transform:uppercase;
    font-family:impact;
    font-size: 1.5rem;
    color: $light;
    letter-spacing: 0.1rem;
}

.loginText, .customerText {

  @media screen and (max-width: 992px) {
    display: block;
  }

  @media screen and (min-width: 993px) and (max-width: 1200px) {
    display: none;
  }
}

.userText {

  @media screen and (max-width: 992px) {
    display: block;
  }

  @media screen and (min-width: 993px) and (max-width: 1390px) {
    display: none;
  }
}
