@use '../../../../assets/modules/color' as *;

.menu {

  &_card {
    width: 20%;
  }

  &_thead {
    background-color: $secondary;
    color: $light;
    font-weight: bold;
  }
}

.mat {

  &-add {
    background-color: $primary;
    color: $light;
    width: 25rem;

    &:hover {
      background-color: $secondary;
    }
  }

  &-save {
    background-color: $d-menu-color;
    color: $light;

    &:hover {
      background-color: $dark;
    }
  }

  &-cancel {
    background-color: $secondary;
    color: $dark;

    &:hover {
      background-color: $i-menu-color;
    }
  }

}

::ng-deep mat-tooltip-component{
  & .mat-save {
    text-align: center;
    font-size: 1.2rem;
    }
}
