@use '../../../../assets/modules/color' as *;

.mat {
  &-cancel {
    background-color: $edit-button-backgroundcolor;
    color: $button-color;

    &:hover {
      background-color: $button-color-hover;
    }
  }

  &-save {
    background-color: $list-button-backgroundcolor;
    color: $button-color;

    &:hover {
      background-color: $d-menu-color;
    }
  }
}

.card-header {
  background-color: $d-menu-color;
}
