<div class="container py-5 min-vh-100">
  <div *ngIf="food" class="card mt-2">
    <div class="card-header">
      <h4 class="card-title" *ngIf="food.id !== 0">{{ editPageItems[2].title }}</h4>
      <h4 class="card-title" *ngIf="food.id === 0">{{ editPageItems[2].new }}</h4>
      <p class="card-category">{{ editPageText[0].name }}</p>
    </div>
    <div class="card-body">
      <form #foodForm="ngForm" (ngSubmit)="saveFood(food)">

        <input [(ngModel)]="food.id" type="hidden" name="id">

        <div class="row mb-2 justify-content-center">
          <div class="col-lg-5 col-md-12 mb-2">
            <div class="form-group">
              <label [for]="foodEditItems[0].prop">{{ foodEditItems[0].label }} *</label>
              <input [(ngModel)]="food[foodEditItems[0].prop]" class="form-control" type="text"
                [name]="foodEditItems[0].prop" [id]="foodEditItems[0].prop" required
                [pattern]="foodEditItems[0].pattern" [placeholder]="foodEditItems[0].placeholder">
              <div class="font-italic small ml-2 mt-1"
                [hidden]="foodForm.controls[foodEditItems[0].prop]?.valid || foodForm.controls[foodEditItems[0].prop]?.pristine">
                {{ foodEditItems[0].message }}
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-12">
            <div class="form-group mt-4 pt-1 d-flex flex-row">
              <div class="custom-control custom-checkbox mr-3">
                <input class="custom-control-input" [(ngModel)]="food[foodEditItems[6].prop]"
                  [name]="foodEditItems[6].prop" type="checkbox" [id]="foodEditItems[6].prop">
                <label class="custom-control-label" [for]="foodEditItems[6].prop">
                  {{ foodEditItems[6].label }}
                </label>
              </div>
              <div class="custom-control custom-checkbox mr-3">
                <input class="custom-control-input" [(ngModel)]="food[foodEditItems[4].prop]"
                  [name]="foodEditItems[4].prop" type="checkbox" [id]="foodEditItems[4].prop">
                <label class="custom-control-label" [for]="foodEditItems[4].prop">
                  {{ foodEditItems[4].label }}
                </label>
              </div>
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" [(ngModel)]="food[foodEditItems[5].prop]"
                  [name]="foodEditItems[5].prop" type="checkbox" [id]="foodEditItems[5].prop">
                <label class="custom-control-label" [for]="foodEditItems[5].prop">
                  {{ foodEditItems[5].label }}
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2 justify-content-center">
          <div class="col-lg-5 col-md-12 mb-2">
            <div class="form-group">
              <label [for]="foodEditItems[2].prop">{{ foodEditItems[2].label }} *</label>
              <select [(ngModel)]="food[foodEditItems[2].prop]" class="form-control" [name]="foodEditItems[2].prop"
                [id]="foodEditItems[2].prop" required (ngModelChange)="food[foodEditItems[2].prop] = $event"
                (ngModelChange)="dataChanged($event)">
                <option *ngFor="let key of categoryKeys; index as i" [value]="key">
                  {{ categoryValue[i] }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-lg-5 col-md-12">
            <div class="form-group" *ngIf="!selected && !selectedArray">
              <label [for]="foodEditItems[1].prop">{{ foodEditItems[1].label }} *</label>
              <input [(ngModel)]="selected" class="form-control" type="text" [name]="foodEditItems[1].prop"
                [id]="foodEditItems[1].prop" required [disabled]="true">
            </div>
            <div class="form-group" *ngIf="selected">
              <label [for]="foodEditItems[1].prop">{{ foodEditItems[1].label }} *</label>
              <input [(ngModel)]="selected" class="form-control" type="text" [name]="foodEditItems[1].prop"
                [id]="foodEditItems[1].prop" required [disabled]="true">
            </div>
            <div class="form-group" *ngIf="selectedArray && !selected">
              <label [for]="foodEditItems[1].prop">{{ foodEditItems[1].label }}</label>
              <select [(ngModel)]="selected" class="form-control" [name]="foodEditItems[1].prop"
                [id]="foodEditItems[1].prop" required (ngModelChange)="food[foodEditItems[1].prop] = $event"
                (ngModelChange)="filteredDataChanged($event)">
                <option *ngFor="let item of selectedArray;" [value]="item">
                  {{ item }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="row mb-2 justify-content-center">
          <div class="col-lg-10 col-md-12 mb-5 d-flex">
            <div class="d-flex flex-column">
              <p>{{ foodEditItems[3].label }}</p>
              <div class="d-flex flex-row">
                <div class="custom-control custom-checkbox mr-3" *ngFor="let allergen of allergensValue; index as i">
                  <input class="custom-control-input" [(ngModel)]="food[foodEditItems[3].prop][0][allergen]"
                    [name]="allergen" type="checkbox" [id]="allergen">
                  <label class="custom-control-label" [for]="allergen">
                    {{ allergensName[i] }}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2 justify-content-center">
          <div class="col-lg-10 col-md-12 d-flex flex-column" *ngIf="food.numberInMenu">
            <h6>{{ editPageText[15].name }}:
              {{ food.numberInMenu }} {{ editPageText[7].name }}</h6>
            <h6>{{ editPageText[16].name }}:</h6>
          </div>
          <div class="col-lg-10 col-md-12 mb-5 d-flex flex-row" *ngIf="food.weekOfYear">
            <span *ngFor="let week of food.weekOfYear" class="mr-2 text-center">
              <span *ngIf="week === 0">52. {{ weekText }}</span>
              <span *ngIf="week !== 0">{{ week }}. {{ weekText }}</span>
            </span>
          </div>
        </div>


        <div class="row col-10 offset-1">
          <button [disabled]="foodForm.invalid" mat-raised-button color="save" class="mr-2" type="submit">{{
            editPageText[1].name }}</button>
          <button mat-raised-button color="cancel" [routerLink]="['/', 'menu', 'product']" class="mr-2" type="button">
            {{ editPageText[3].name }}
          </button>
          <button *ngIf="food.id !== 0" mat-raised-button color="delete" (click)="onDelete(food.id)" type="button">
            {{ editPageText[2].name }}
          </button>
        </div>
      </form>
    </div>
  </div>
