@use '../../../assets/modules/color' as *;

.allImg {
  width: 1.5rem;
}

.mat {

  &-primary-button {
    background-color: $primary;
  }

  &-secondary-button {
    background-color: $a-b-e-menu-color;
  }

}

.fastfood-card {

  &-pizza {
    background-color: $v-menu-color
  }

  &-hamb {
    background-color: $r-menu-color
  }

  &-gyros {
    background-color: $f-menu-color
  }

  &-salata {
    background-color: $n-menu-color
  }

  &-sidedish {
    background-color: $s-menu-color
  }

  &-dessert {
    background-color: $sa-menu-color
  }

  &-drink {
    background-color: $a-b-e-menu-color
  }
}

.info {
  background-color: $primary;
  color: $light;
  width: 5rem;
  height: 5rem;

  &:hover {
    background-color: $secondary;
  }
}

.infoIcon {
  font-size: 3rem;
}
