@use '../../../assets/modules/color' as *;

.login {
  background-color: $primary;

  &:hover {
    background-color: $secondary;
  }
}

.forbidden {
  background-color: $d-menu-color;
}

.back {
  background-color: $i-menu-color;
  color: $light;

  &:hover {
    background-color: $dark;
  }
}
