<div class="container py-5 min-vh-100">
  <div class="card mt-2" *ngIf="customer">
    <div class="card-header">
      <h4 class="card-title" *ngIf="id !== '0'">{{ editPageItems[1].title }}</h4>
      <h4 class="card-title" *ngIf="id === '0'">{{ editPageItems[1].new }}</h4>
      <p class="card-category">{{ editPageText[0].name }}</p>
    </div>
    <div class="card-body">
      <form #customerForm="ngForm" (ngSubmit)="saveCustomer(customer)">

        <input [(ngModel)]="customer._id" type="hidden" name="id">

        <div class="row mb-2 justify-content-center">
          <div class="col-lg-4 col-md-12 mb-2">
            <div class="form-group">
              <label [for]="customerEditItems[0].prop">{{ customerEditItems[0].label }} *</label>
              <input [(ngModel)]="customer[customerEditItems[0].prop]" class="form-control" type="text"
                [name]="customerEditItems[0].prop" [id]="customerEditItems[0].prop" required
                [pattern]="customerEditItems[0].pattern" [placeholder]="customerEditItems[0].placeholder">
              <div class="font-italic small ml-2 mt-1"
                [hidden]="customerForm.controls[customerEditItems[0].prop]?.valid || customerForm.controls[customerEditItems[0].prop]?.pristine">
                {{ customerEditItems[0].message }}
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="form-group">
              <label [for]="customerEditItems[1].prop">{{ customerEditItems[1].label }} *</label>
              <input [(ngModel)]="customer[customerEditItems[1].prop]" class="form-control" type="text"
                [name]="customerEditItems[1].prop" [id]="customerEditItems[1].prop" required
                [pattern]="customerEditItems[1].pattern" [placeholder]="customerEditItems[1].placeholder">
              <div class="font-italic small ml-2 mt-1"
                [hidden]="customerForm.controls[customerEditItems[1].prop]?.valid || customerForm.controls[customerEditItems[1].prop]?.pristine">
                {{ customerEditItems[1].message }}
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-12">
            <div class="form-group mt-4 pt-1">
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" [(ngModel)]="customer[customerEditItems[14].prop]"
                  [name]="customerEditItems[14].prop" [id]="customerEditItems[14].prop" type="checkbox">
                <label class="custom-control-label" [for]="customerEditItems[14].prop">
                  {{ customerEditItems[14].label }}
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2 justify-content-center">
          <div class="col-lg-5 col-md-12 mb-2">
            <div class="form-group">
              <label [for]="customerEditItems[2].prop">{{ customerEditItems[2].label }} *</label>
              <input [(ngModel)]="customer[customerEditItems[2].prop]" class="form-control" type="email"
                [name]="customerEditItems[2].prop" [id]="customerEditItems[2].prop" required
                [pattern]="customerEditItems[2].pattern" [placeholder]="customerEditItems[2].placeholder">
              <div class="font-italic small ml-2 mt-1"
                [hidden]="customerForm.controls[customerEditItems[2].prop]?.valid || customerForm.controls[customerEditItems[2].prop]?.pristine">
                {{ customerEditItems[2].message }}
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-12">
            <div class="form-group">
              <label [for]="customerEditItems[3].prop">{{ customerEditItems[3].label }} *</label>
              <input [(ngModel)]="customer[customerEditItems[3].prop]" class="form-control" type="text"
                [name]="customerEditItems[3].prop" [id]="customerEditItems[3].prop" required
                [pattern]="customerEditItems[3].pattern" [placeholder]="customerEditItems[3].placeholder">
              <div class="font-italic small ml-2 mt-1"
                [hidden]="customerForm.controls[customerEditItems[3].prop]?.valid || customerForm.controls[customerEditItems[3].prop]?.pristine">
                {{ customerEditItems[3].message }}
              </div>
            </div>
          </div>
        </div>

        <h4 class="col-lg-10 offset-lg-1 mt-4 mb-2">{{ editPageText[8].name }}</h4>

        <div class="row mt-2 mb-2 justify-content-center">
          <div class="form-group col-lg-5 col-md-6 mb-2">
            <label [for]="customerEditItems[4].prop+'zip'">{{ customerEditItems[4].label }} *</label>
            <input class="form-control" [(ngModel)]="customer[customerEditItems[4].prop][0].zip" class="form-control"
              type="text" [name]="customerEditItems[4].prop+'zip'" [id]="customerEditItems[4].prop+'zip'" required
              [pattern]="customerEditItems[4].pattern" [placeholder]="customerEditItems[4].placeholder">
            <div class="font-italic small ml-2 mt-1"
              [hidden]="customerForm.controls[customerEditItems[4].prop+'zip']?.valid || customerForm.controls[customerEditItems[4].prop+'zip']?.pristine">
              {{ customerEditItems[4].message }}
            </div>
          </div>
          <div class="form-group col-lg-5 col-md-6 mb-2">
            <label [for]="customerEditItems[5].prop+'city'">{{ customerEditItems[5].label }} *</label>
            <input class="form-control" [(ngModel)]="customer[customerEditItems[5].prop][0].city" class="form-control"
              type="text" [name]="customerEditItems[5].prop+'city'" [id]="customerEditItems[5].prop+'city'" required
              [pattern]="customerEditItems[5].pattern" [placeholder]="customerEditItems[5].placeholder">
            <div class="font-italic small ml-2 mt-1"
              [hidden]="customerForm.controls[customerEditItems[5].prop+'city']?.valid || customerForm.controls[customerEditItems[5].prop+'city']?.pristine">
              {{ customerEditItems[5].message }}
            </div>
          </div>
        </div>
        <div class="row mt-4 mb-2 justify-content-center">
          <div class="form-group col-lg-4 col-md-6 mb-2">
            <label [for]="customerEditItems[6].prop+'street'">{{ customerEditItems[6].label }} *</label>
            <input class="form-control" [(ngModel)]="customer[customerEditItems[6].prop][0].street" class="form-control"
              type="text" [name]="customerEditItems[6].prop+'street'" [id]="customerEditItems[6].prop+'street'" required
              [pattern]="customerEditItems[6].pattern" [placeholder]="customerEditItems[6].placeholder">
            <div class="font-italic small ml-2 mt-1"
              [hidden]="customerForm.controls[customerEditItems[6].prop+'street']?.valid || customerForm.controls[customerEditItems[6].prop+'street']?.pristine">
              {{ customerEditItems[6].message }}
            </div>
          </div>
          <div class="form-group col-lg-3 col-md-6 mb-2">
            <label [for]="customerEditItems[7].prop+'number'">{{ customerEditItems[7].label }} *</label>
            <input class="form-control" [(ngModel)]="customer[customerEditItems[7].prop][0].number" class="form-control"
              type="number" [name]="customerEditItems[7].prop+'number'" [id]="customerEditItems[7].prop+'number'"
              required [pattern]="customerEditItems[7].pattern" min="1"
              [placeholder]="customerEditItems[7].placeholder">
            <div class="font-italic small ml-2 mt-1"
              [hidden]="customerForm.controls[customerEditItems[7].prop+'number']?.valid || customerForm.controls[customerEditItems[7].prop+'number']?.pristine">
              {{ customerEditItems[7].message }}
            </div>
          </div>
          <div class="form-group col-lg-3 col-md-6">
            <label [for]="customerEditItems[8].prop+'notes'">{{ customerEditItems[8].label }}</label>
            <input class="form-control" [(ngModel)]="customer[customerEditItems[8].prop][0].notes" class="form-control"
              type="text" [name]="customerEditItems[8].prop+'notes'" [id]="customerEditItems[8].prop+'notes'"
              [pattern]="customerEditItems[8].pattern" [placeholder]="customerEditItems[8].placeholder">
            <div class="font-italic small ml-2 mt-1"
              [hidden]="customerForm.controls[customerEditItems[8].prop+'notes']?.valid || customerForm.controls[customerEditItems[8].prop+'notes']?.pristine">
              {{ customerEditItems[8].message }}
            </div>
          </div>
        </div>

        <h4 class="col-lg-10 offset-lg-1 mt-4 mb-2">{{ editPageText[9].name }}</h4>

        <div class="row mt-2 mb-2 justify-content-center">
          <div class="form-group col-lg-5 col-md-6 mb-2">
            <label [for]="customerEditItems[9].prop+'zip'">{{ customerEditItems[9].label }} *</label>
            <input class="form-control" [(ngModel)]="customer[customerEditItems[9].prop][0].zip" class="form-control"
              type="text" [name]="customerEditItems[9].prop+'zip'" [id]="customerEditItems[9].prop+'zip'" required
              [pattern]="customerEditItems[9].pattern" [placeholder]="customerEditItems[9].placeholder">
            <div class="font-italic small ml-2 mt-1"
              [hidden]="customerForm.controls[customerEditItems[9].prop+'zip']?.valid || customerForm.controls[customerEditItems[9].prop+'zip']?.pristine">
              {{ customerEditItems[9].message }}
            </div>
          </div>
          <div class="form-group col-lg-5 col-md-6 mb-2">
            <label [for]="customerEditItems[10].prop+'city'">{{ customerEditItems[10].label }} *</label>
            <input class="form-control" [(ngModel)]="customer[customerEditItems[10].prop][0].city" class="form-control"
              type="text" [name]="customerEditItems[10].prop+'city'" [id]="customerEditItems[10].prop+'city'" required
              [pattern]="customerEditItems[10].pattern" [placeholder]="customerEditItems[10].placeholder">
            <div class="font-italic small ml-2 mt-1"
              [hidden]="customerForm.controls[customerEditItems[10].prop+'city']?.valid || customerForm.controls[customerEditItems[10].prop+'city']?.pristine">
              {{ customerEditItems[10].message }}
            </div>
          </div>
        </div>
        <div class="row mt-4 mb-4 justify-content-center">
          <div class="form-group col-lg-4 col-md-6 mb-2">
            <label [for]="customerEditItems[11].prop+'street'">{{ customerEditItems[11].label }} *</label>
            <input class="form-control" [(ngModel)]="customer[customerEditItems[11].prop][0].street"
              class="form-control" type="text" [name]="customerEditItems[11].prop+'street'"
              [id]="customerEditItems[11].prop+'street'" required [pattern]="customerEditItems[11].pattern"
              [placeholder]="customerEditItems[11].placeholder">
            <div class="font-italic small ml-2 mt-1"
              [hidden]="customerForm.controls[customerEditItems[11].prop+'street']?.valid || customerForm.controls[customerEditItems[11].prop+'street']?.pristine">
              {{ customerEditItems[11].message }}
            </div>
          </div>
          <div class="form-group col-lg-3 col-md-6 mb-2">
            <label [for]="customerEditItems[12].prop+'number'">{{ customerEditItems[12].label }} *</label>
            <input class="form-control" [(ngModel)]="customer[customerEditItems[12].prop][0].number"
              class="form-control" type="number" [name]="customerEditItems[12].prop+'number'"
              [id]="customerEditItems[12].prop+'number'" required [pattern]="customerEditItems[12].pattern" min="1"
              [placeholder]="customerEditItems[12].placeholder">
            <div class="font-italic small ml-2 mt-1"
              [hidden]="customerForm.controls[customerEditItems[12].prop+'number']?.valid || customerForm.controls[customerEditItems[12].prop+'number']?.pristine">
              {{ customerEditItems[12].message }}
            </div>
          </div>
          <div class="form-group col-lg-3 col-md-6">
            <label [for]="customerEditItems[13].prop+'notes'">{{ customerEditItems[13].label }}</label>
            <input class="form-control" [(ngModel)]="customer[customerEditItems[13].prop][0].notes" class="form-control"
              type="text" [name]="customerEditItems[13].prop+'notes'" [id]="customerEditItems[13].prop+'notes'"
              [pattern]="customerEditItems[13].pattern" [placeholder]="customerEditItems[13].placeholder">
            <div class="font-italic small ml-2 mt-1"
              [hidden]="customerForm.controls[customerEditItems[13].prop+'notes']?.valid || customerForm.controls[customerEditItems[13].prop+'notes']?.pristine">
              {{ customerEditItems[13].message }}
            </div>
          </div>
        </div>

        <div *ngIf="orderMenuArray[0] && orderMenuArray[0].length !== 0" class="row mt-2 mb-5 justify-content-center">
          <h4 class="col-md-10 offset-md-1 mt-4 mb-2">{{ editPageText[20].name }}</h4>

          <div class="col-md-10 offset-md-1 d-flex flex-md-row flex-column"
            *ngFor="let orders of orderMenuArray[0]; index as i">
            <p class="col-lg-1 font-weight-bold">{{ i + 1 }}.</p>
            <p class="col-md-3 col-lg-2">{{ orders.date }}</p>
            <div class="col-md-10 col-lg-11 d-flex flex-column">
              <div *ngFor="let order of orderMenuArray[0][i].order" class="d-flex flex-row">
                <p class="mr-md-2">{{ order.week }}. {{ weekText }}</p>
                <p class="col-7 col-sm-4">{{ getMenuName(order.menuCode) }}</p>
                <p>{{ order.portion }} {{ editPageText[7].name }}</p>
              </div>
            </div>
            <mat-divider></mat-divider>
          </div>
        </div>

        <div *ngIf="orderFastfoodArray[0] && orderFastfoodArray[0].length !== 0"
          class="row mt-2 mb-5 justify-content-center">
          <h4 class="col-md-10 offset-md-1 mt-4 mb-2">{{ editPageText[21].name }}</h4>

          <div class="col-md-10 offset-md-1 d-flex flex-md-row flex-column"
            *ngFor="let orders of orderFastfoodArray[0]; index as i">
            <p class="col-lg-1 font-weight-bold">{{ i + 1 }}.</p>
            <p class="col-md-3 col-lg-2">{{ orders.date }}</p>
            <div class="col-md-8 col-lg-11 d-flex flex-column">
              <div *ngFor="let order of orderFastfoodArray[0][i].order" class="d-flex flex-row">
                <p class="mr-1">{{ getFastfoodName(order.productID) }}</p>
                <p *ngIf="fastfoodPizza.includes(order.productID)">
                  - {{ getNotesName(order.notes) }} {{ pizzaText }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row col-10 offset-1 d-flex flex-column flex-sm-row">
          <button [disabled]="customerForm.invalid" mat-raised-button color="save" class="mr-sm-2 mb-3 mb-sm-0"
            type="submit">{{
            editPageText[1].name }}</button>
          <button mat-raised-button color="cancel" routerLink="/customer" class="mr-sm-2 mb-3 mb-sm-0" type="button">
            {{ editPageText[3].name }}
          </button>
          <button *ngIf="id !== '0'" mat-raised-button color="delete" (click)="onDelete(customer._id)" type="button">
            {{ editPageText[2].name }}
          </button>
        </div>
      </form>
    </div>
  </div>
