$primary: #343a40;
$secondary: #A9A9A9;
$info: #5e6266;
$light: #fff;
$dark: #000;

$welcome: #9b9494;

$n-menu-color: #aebdbc;
$a-b-e-menu-color: #C9CCBF;
$f-menu-color: #AEAB9F;
$v-menu-color: #CCCFCB;
$z-menu-color: #adb2bd;

$r-menu-color: #C4CDC1;
$d-menu-color: #AEAB9F;
$s-menu-color: #99AEAD;
$sa-menu-color: #CCCFCB;
$i-menu-color: #BBBBBB;
