@use '../../../../assets/modules/color' as *;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.tabletitle {
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;

  @media screen and (max-width: 600px) {
    font-size: 4rem;
  }
}

.admin {

  &table {
    width: 100%
  }

  &td {
    width: 15%;
    margin: 0 1rem
  }
}

.mat-header-cell {
  padding-left: 4rem;
}

th.mat-header-cell:first-of-type {
  padding-left: 5rem;
}

button, .nav-link, mat-paginator, mat-checkbox, mat-icon-button  {
  pointer-events: auto;
}

.mat {

  &-add {
    background-color: $primary;
    color: $light;

    @media screen and (max-width: 576px) {
      width: 70vw;
    }

    @media screen and (max-width: 444px) {
      width: 85vw;
    }
  }

  &-edit {
    background-color: $secondary;
    color: $light;
  }

  &-delete {
    background-color: $primary;
    color: $light;
  }
}

::ng-deep mat-tooltip-component{
  & .mat-edit, .mat-boolean {
    background-color: $secondary;
  }

  & .mat-delete{
    background-color: $primary;
}

}


