@use '../../../assets/modules/color' as *;

.menu {

  &_tkey {
    width: 4%;
    padding: 1rem 0;
  }

  &_key {
    width: 4%;
  }

  &_name {
    width: 12%;
  }

  &_card {
    width: 16.8%;
  }

  &_thead {
    background-color: $secondary;
    color: $light;
    font-weight: bold;
  }

  &_N {
    background-color: $n-menu-color;
  }

  &_ABE {
    background-color: $a-b-e-menu-color;
  }

  &_F {
    background-color: $f-menu-color;
  }

  &_V {
    background-color: $v-menu-color;
  }

  &_Z {
    background-color: $z-menu-color;
  }

  &_R {
    background-color: $r-menu-color;
  }

  &_D {
    background-color: $d-menu-color;
  }

  &_S {
    background-color: $s-menu-color;
  }

  &_SA {
    background-color: $sa-menu-color;
  }

  &_I {
    background-color: $i-menu-color;
  }

}

::ng-deep mat-tooltip-component{
  & .mat-info {
    text-align: center;
    font-size: 1rem;
    }
}

.mat {

  &-add {
    background-color: $secondary;
    color: $light;

    &:hover {
      background-color: $primary;
    }
  }

  &-info-button {
    background-color: $primary;
  }

  &-option-button {
    background-color: $a-b-e-menu-color;
  }

  &-drink-button {
    background-color: $f-menu-color;;
  }

  &-active {
      background-color: $primary;
      color: $light;
    }

}

