@use '../../../assets/modules/color' as *;

.menu {

  &_tkey {
    width: 4%;
    padding: 1rem 0;

    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }

  &_key {
    width: 4%;

    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }

  &_name {
    width: 12%;

    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }

  &_card {
    width: 16.8%;

    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }

  &_thead {
    background-color: $secondary;
    color: $light;
    font-weight: bold;
  }

  &_N {
    background-color: $n-menu-color;
  }

  &_ABE {
    background-color: $a-b-e-menu-color;
  }

  &_F {
    background-color: $f-menu-color;
  }

  &_V {
    background-color: $v-menu-color;
  }

  &_Z {
    background-color: $z-menu-color;
  }

  &_R {
    background-color: $r-menu-color;
  }

  &_D {
    background-color: $d-menu-color;
  }

  &_S {
    background-color: $s-menu-color;
  }

  &_SA {
    background-color: $sa-menu-color;
  }

  &_I {
    background-color: $i-menu-color;
  }

}

::ng-deep mat-tooltip-component{
  & .mat-info {
    text-align: center;
    font-size: 1rem;
    }
}

.mat {

  &-add {
    background-color: $secondary;
    color: $light;

    &:hover {
      background-color: $primary;
    }
  }

  &-info-button {
    background-color: $primary;
  }

  &-option-button {
    background-color: $a-b-e-menu-color;
  }

  &-drink-button {
    background-color: $f-menu-color;;
  }

  &-active {
      background-color: $primary;
      color: $light;
    }

}

.textDesktop {
  @media screen and (max-width: 992px) {
    display: none;
  }
}

.textMobil {
  display: block;

  @media screen and (min-width: 991px) {
    display: none;
  }
}

.buttonDesktop {
  display: none;

  @media (pointer:fine) {
        display: block;
  }
}

.buttonMobil {
  display: block;

  @media (pointer:fine) {
        display: none;
  }
}

.info {
  background-color: $primary;
  color: $light;
  width: 5rem;
  height: 5rem;

  &:hover {
    background-color: $secondary;
  }
}

.infoIcon {
  font-size: 3rem;
}

