@use '../../../../assets/modules/color' as *;

.mat-add {
  background-color: $edit-button-backgroundcolor;
  color: $button-color;

  &:hover {
    background-color: $list-button-backgroundcolor;
  }
}

.orderButton {
  width: 25rem;
}
